/* BODY */
body{
    /* Annulation des marges appliquer par le navigateur sur le body */
    margin: 0;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
}

/* HEADER */
header{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul{
    display: flex;
    list-style-type: none;
}

header nav ul li a{
    color: black;
    font-size: 20px;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 33px;
}

header nav ul li a:hover{
    color: #2468f3;
    border-top: 3px solid #2468f3;
}

/* MAIN */
main{
    width: 95%;
    margin: auto;
}

/* FIRST SECTION */

main form{
    height: 70px;
    display: flex;
}

main form i.fa.fa-map-marker{
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 20px 0 0 20px;
}

main form input{
    color: black;
    font-weight: bold;
    font-size: 20px;
    padding-left: 15px;
    border-left: none;
    border-right: none;
    border-top: 3px solid #F2F2F2;
    border-bottom: 3px solid #F2F2F2;
}

main form input::placeholder{
    color: black;
    font-weight: bold;
}

main form button{
    color: white;
    background-color: #2468f3;
    border: none;
    border-radius: 0 20px 20px 0;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

/* FILTRES */

.filtres{
    display: flex;
    align-items: center;
    margin-top: 2%;
}

.filtres h2{
margin-right: 5%;
}

.filtres-conteneur{
    display: flex;
}


.filtre{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    border: 3px solid #F2F2F2;
    border-radius: 30px;
    height: 50px;
    margin-right: 5%;
}

.filtre i{
    height: 56px;
    width: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    border-radius: 30px;
    color: #2468f3;
    margin-left: -3px;
}

.filtre p{
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 20px;
}

.filtre:hover p{
    color: white;
}

.filtre:hover {
    background-color: #2468f3;

}
.result-message {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 0.9rem;
    margin: 0;
  }
  .result-message .fa-solid {
    color: #2468f3;
    background-color: white;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
 
  /* SECOND SECTION */

  .block-main {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.Hébergements {
  display: flex;
  flex-direction: column;
  background-color:  #F2F2F2; 
  width: 58%;
  border-radius: 20px 20px 20px 20px;
  padding: 3%;
}
.Hébergements h2{
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start : 0;
  margin-inline-end: 0;

}
.populaires {
  display: flex;
  flex-direction: column;
  background-color:  #F2F2F2;
  width: 27%;
  border-radius: 20px 20px 20px 20px;
  padding: 3%;
  

}
.populaires-infos {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7%;
}
.populaires h2{
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start : 0;
  margin-inline-end: 0;

}
 /* .infos .h3 .p {
margin: 0 0;
}  */
.Hébergements .ac{
  display: flex;
 justify-content: space-between;
 margin: 20px 0;
 
}
.Hébergements .appartement-card{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 1rem;
    width: 30%;
    box-shadow: 0 0 1rem #0000002e;
    padding: 5px 
    /* text-decoration: none;
    color: black;
     */
  }

  
  .Hébergements .appartement-card img {
    border-radius: 1rem 1rem 0 0;
     height: 150px;  
    object-fit: cover;
  } 
  .populaires .ac{
    display: flex;
   justify-content: space-between;
   margin: 20px 0;
   
  }
  .populaires .appartement-card{
    display: flex;
    background-color: white;
    border-radius: 25px;
     width: 100%; 
     box-shadow: 0 0 1rem #0000002e;
     padding: 5px;
     margin: 10px 0; 
    /* text-decoration: none;
    color: black;
     */
     

  }
  
  .populaires .appartement-card img {
    border-radius: 25px 0 0 25px;
    height: 165px;   
    object-fit: cover;
    margin-right: 10px;
    width: 150px;
}
.blue-star {
  color: #2468f3;
}
.infos h3 {
  font-size: 16px;
}
/* .activities-wrapper {
  width: 100%;
  margin: auto;

} */
.activities-wrapper {

display: flex;
flex-direction: column;
justify-content: space-between;
/* margin: 10px; */
}

.activities {
  display: flex;
  justify-content: space-between;
}
    .activities-group  {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 23%;
    }
    
    .activity-card {
      display: flex;
      flex-direction: column;
      background-color: white;
      border-radius: 16px;
      width: 23%;
      height: 406px;
      box-shadow: 0 0 16px #0000002e;
    }
    
    .activity-card img {
      border-radius: 16px 16px 0 0;
      width: 100%;
      height: 342px;
      object-fit: cover;
      margin-bottom: 24px;
    }
    .activity-card a {
      color: black;
      text-decoration: none;
    }

    .activity-card.medium {
      display: flex;
      flex-direction: column;
      background-color: white;
      border-radius: 16px;
      width: 100%;
      height: 183px;
      box-shadow: 0 0 16px #0000002e;
    }
    
    .activity-card.medium img {
      height: 150px;
    }
    
    .activity-card.small {
      width: 100%;
      height: 192px;
    }
    
    .activity-card.small img {
      height: 128px;
    }
    
      .infos {
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0.3rem;
        padding-left: 1rem;
    }  
    .title {

      padding-left: 20px;
      font-weight: bold;
    }
    
 
  .footer {
    display: flex;
    justify-content: flex-start;
    background-color: #eeeeee;
    padding: 3rem;
    gap: 20%; 
    margin-top: 60px;
  }
  
  .footer div ul {
    list-style-type: none;  
    margin-block-start: 0;
      margin-block-end: 0;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 0;
  }
  
  .footer div ul li a {
    color: black;
    text-decoration: none;
     max-width: inherit;
  }
  
  .footer div ul li a:hover {
    text-decoration: underline;
    color: #2468f3
  }
  